/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button {
	background: none;
	font-family: $font__main;
	color: $color__brand-main;
	font-size: 1rem;
	border: 2px solid $color__brand-main;
	border-radius: 3px;
	padding: 10px 40px;

	&:hover {
		color: $color__brand-hover;
		border-color: $color__brand-hover;
	}
	@include tablet {
        font-size: 1.25rem;
	}
	@include desktop {
		margin: 20px auto;
		display: block;
	}
}
.search-submit {
	border: none;
	display: inline;
	margin: 0;
	padding: 0 5px;
}

/* Fields */

input, textarea {
	background: none;
	border: 2px solid $color__brand-main;
	border-radius: 3px;
	font-family: $font__main;
	display: block;
	padding: 10px 0;
	margin: 10px 0 20px 0;

	&[type='submit'] {
		color: $color__brand-main;
		width: auto;
		padding: 10px 30px;
		font-size: 1rem;

		@include tablet {
			font-size: 1.25rem;
		}
	}
}
input {
	width: 60%;
}
textarea {
	width: 100%;
	height: 120px;
}
.search-form {

	margin: 0;
	input{
		font-size: 1rem;
		padding: 5px;
		display: inline-block;
		width: 250px;

		@include tablet {
			font-size: 1.25rem;
		}
	}
}