/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

body {
    background: $color__background;
}
.container {
    margin: 50px 10px;

    @include tablet {
        padding: 0 20px;
    }
    @include desktop {
        width: 1080px;
        padding: 0 10px;
        margin: 50px auto;
    }
}
.logo {
    width: 300px;
    margin: 10px 0;

    @include tablet {
        width: 500px;
    }
    @include desktop {
        width: 700px;
        margin: 10px auto;
    }
}
@include desktop {

    .content-area {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;

        p {
            width: 700px;
            font-size: 2.5rem;
            padding-top: 30px;
        }
        &::before{
                font-family: "FontAwesome";
                font-size: 7.5rem;
                color: $color__brand-main;
                content: "\f10d"
        }
        &::after{
                font-family: "FontAwesome";
                font-size: 7.5rem;
                color: $color__brand-main;
                content: "\f10e"
        }
    }
}
.entry-meta {
    margin: 20px 0 40px 0;

    h2 {
        display: inline;
    }
    .source {
        display: inline;
    }
}
footer{
    margin: 60px 0;
    line-height: 2.5;

    p{
        font-size: 1rem;

        @include tablet {
            padding-left: 10px;
        }
    }
    ul {
        display: flex;

        li {

            a {
            border-right: 1px solid $color__accent-main;
            padding: 0 10px;
            }
            &:first-child a{
                padding-left: 0;
            }
            &:last-child a{
                border-right: none;

                @include tablet {
                    border-right: 1px solid $color__accent-main;
                }
            }
        }
    }
    .site-info {

        @include tablet {
            display: flex;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }
}

/* About */

.page {

    article {
        margin-top: 30px;
            
        p {
            font-size: 1rem;
            padding-top: 30px;
        }
    }
}

/* Archive */

.browse-archives {
    
    h1 {
        margin: 15px 0;
    }
    h2 {
        font-size: 1.5rem;
        margin: 40px 0 20px 0;
    }
    @include tablet {
        li{
            font-size: 1.25rem;
        }
        .tag-cloud-link {
            font-size: 1.25rem !important;
        }

    }
    ul {
        display: flex;
        flex-wrap: wrap;
    
        li {
            padding: 0 15px 10px 0;
        }
    }
}
.archive {

    h1 {
        border-bottom: 1px dotted white;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    article {
        margin: 30px 0 20px;
        border-bottom: 1px dotted white;
    }
}

/* Submit a Quote Page */

form {
    margin: 0 10px;
}
main {
    
    @include desktop {
        width: 700px;    
    }
}

/* Search Results */

.search-results {

    h1 {
        border-bottom: 1px dotted white;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 1.5rem;
        padding-bottom: 20px;

        @include desktop {
            padding-bottom: 0;
        }
    }
}
.entry-summary p{
    font-size: 1rem;
    padding-bottom: 15px;

    @include tablet {
        font-size: 1.25rem;
    }
}
.page-numbers {
    padding-right: 5px;
}

/* 404 */

.error404 {

    h1 {
        padding-bottom: 25px;
    }
    p {
        font-size: 1rem;
        padding-bottom: 15px;
    }
}
