/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
	font-family: $font__main;
	color: $color__accent-main;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
}

/* Headings */

h2 {
	font-size: 1.25rem;
}

/* Copy */

p {
	font-size: 1.25rem;
}

/* Links */

a {
	color: $color__brand-main;
	text-decoration: none;
}

.source {
	font-size: 1.25rem;
	font-style: italic;
}
