// Structure

$screen__tablet-width: 620px;
$screen__desktop-width: 1080px;

// Colors

$color__background: #222;
$color__brand-main: #0C0;
$color__brand-hover: darken($color__brand-main, 20%);
$color__accent-main: #fff;

// Typography

$font__main: "Exo", monospace;
